@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}


a,
.green {
  text-decoration: none;
  color: #00BB77; 
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 187, 119, 0.2);
    border-radius: 4px;
  }
}



@media (min-width: 1024px) {
  body {

    display: block; 
  }

  #app {

    display: block; 
    grid-template-columns: none;
    padding: 0;
  }
}

body {
  margin: 40px !important;
  padding: 50px !important;
  background: white !important;
  color: #ffffff !important;
  min-height: 100vh;
}