@import './base.css';

/* Elimina las restricciones de ancho y el centrado forzado */
#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* Ajustes globales para enlaces */
a,
.green {
  text-decoration: none;
  color: #00BB77; /* Tu verde FreeTours */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 187, 119, 0.2);
    border-radius: 4px;
  }
}



@media (min-width: 1024px) {
  body {
    /* Eliminamos display: flex y place-items: center */
    display: block; 
  }

  #app {
    /* Eliminamos el grid de 2 columnas que achicaba tu tabla */
    display: block; 
    grid-template-columns: none;
    padding: 0;
  }
}

/* Estilo base para que el contenido no se pegue a los bordes 
   pero que no restrinja el ancho máximo de forma agresiva */
body {
  margin: 40px !important;
  padding: 50px !important;
  background: white !important;
  color: #ffffff !important;
  min-height: 100vh;
}